html{
	font-family:'Alfa+Slab+One'， cursive;
	font-size: 1.2rem;
}

body {
	padding: 4rem;
  background-color: rgb(159, 220, 56);

* + *{
	margin-block-start: 1rem;
}
  h1{
	font-family: 'Alfa+Slab+One';
	font-size: 5rem;
  }





}

